body{
    text-align: center;
    font-family: arial;
    color: deepskyblue;
    
}

div{
    width: 30rem;
    height: 30rem;
    background-color: deeppink;
    border: 10px solid deepskyblue;
    border-radius: 100%;
}