body{
    text-align: center;
    font-family: 'Courier New';
    
    
}
#cabecera{
    color: red;
    background-color: #33A;
}

/* div{
    width: 30rem;
    height: 30rem;
    background-color: deeppink;
    border: 10px solid deepskyblue;
    border-radius: 100%;
} */
.container{
    width: 80%;
    height: 30%;
    border: 0.5px solid grey;
    border-radius: 10px;
    margin: 0 auto;
}